{% extends "_base.html" %}

{% block extrahead %}
<script type="text/javascript" src="{{ url_for('static/js/friendfeed.js') }}"></script>
{% endblock %}

{% block content %}
<div id="posts">

    <div class="post">
        <span class="date">
            <a href="{{ entry.get_url() }}">
            <span class="diff">{{ entry.date.day }}</span>/{{ entry.date.month }}/{{ entry.date.year }}
            </a>
        </span>
        <div class="regular">
            <h3>{{ entry.title }} <a class="permalink" href="{{ entry.get_absolute_url() }}">∞</a></h3>
            <div class="post-body">
                {{ entry.body }}
            </div>
        </div>
        {% if entry.tags %}
        <ul class="post-footer">
            {% for tag in entry.tags %}
            <li><a href="{{ site.tag_cache.get(tag).get_url() }}">#{{ tag }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    
    <div id="notes-container">
        <h3><img width="16px" height="16px" src="{{ url_for('static/img/friendfeed-small.png') }}"> <a href="http://friendfeed.com/{{ site.author_friendfeed }}">Комментарии</a></h3>
        <ul class="notes">
        </ul>
    </div>

<div id="previous-next">
    <a class="archive" href="{{ url_for('blog/archive') }}">Все статьи</a>
</div>

</div>

<script>
putFFUrl('{{ entry.get_absolute_url() }}', '{{ site.author_friendfeed }}', '#notes-container') 
</script>

{% endblock %}
