{% meta %}
  title: root
{% endmeta %}

{% block extrahead %}
<link rel="openid.server" href="http://www.myopenid.com/server">
<link rel="openid.delegate" href="http://{{ site.author_myopenid }}.myopenid.com/">
<link rel="openid2.local_id" href="http://{{ site.author_myopenid }}.myopenid.com/">
<link rel="openid2.provider" href="http://www.myopenid.com/server">
<meta http-equiv="X-XRDS-Location" content="http://www.myopenid.com/xrds?username={{ site.author_myopenid }}.myopenid.com"> 
{% endblock %}

{% block content %}

<div id="root">
    <p>Читайте
<a href="{{ url_for('blog') }}"><img width="16px" height="16px" src="{{ url_for('static/img/pyo-16.png') }}" />&nbsp;блог</a>,
следите за
<a href="http://twitter.com/{{ site.author_twitter }}"><img width="16px" height="16px" src="{{ url_for('static/img/twitter-small.png') }}" />&nbsp;твитами</a>,
будьте в курсе
<a href="http://{{ site.author_chimp }}.mp"><img width="16px" height="16px" src="{{ url_for('static/img/chimp-small.png') }}" />&nbsp;происходящего</a>.</p>
    <p>wbr, <a href="{{ url_for('about') }}"><img width="16px" height="16px" src="{{ url_for('static/img/iam-small.png') }}" />&nbsp;{{ site.author }}</a>.</p>
</div>

{% endblock %}
